"*":
  "exception-reporting":
    userId: "3a2d66a0-e8c1-e529-eda6-c05fe43334d6"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "atom-dark-ui"
      "monokai"
    ]
  editor:
    invisibles: {}
    tabLength: 4
    showIndentGuide: true
    fontFamily: "\"源ノ角ゴシック Code JP\""
    fontSize: 12
  linter: {}
  "find-and-replace": {}
  "autocomplete-plus": {}
  "quick-highlight": {}
  minimap: {}
  "symbols-tree-view":
    autoToggle: true
